<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=m">
    <title>Masam</title>
    <link rel="stylesheet" href="../static/css/feed.css">
</head>
<body>
    <p>thanks for submitting form.Now you are the <em>member</em> of Masam</p>
</body>
</html>