<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masam</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="_10conta">
        <div class="_11conta">
            <div class="_12container" id="box-1">
                <h1 id="cname">Masam</h1>
                <h4 id="desc">masam helps you to know about colleagues</h4>
            </div>
            <div class="_12conta" id="box-2">
                <p id="checkmsg" >invalid credentials!!</p>
                <form action="/" method="post" id="myform" >
                    <div class="inputag" id="field-1">
                        <input type="email" name="email" placeholder="Enter Your College Mail Id" required>
                    </div>
                    <div class="inputag" id="field-2">
                        <input type="password" name="password" placeholder="Enter Your Password" id="pass-field" required>
                    </div>
                    <div class="inputag" id="field-3">
                        <input type="text" name="collegeId" placeholder="College Id Of Your Friend"  required>
                    </div>
                    <button class="btn" id="login">log in</button>
                </form>
                <h3><a href="#"> forgotten password?</a></h3>
                 <br> <hr>
                 <a href="/sign"><button class="btn" id="create" > sign in
                </button> </a> 
            </div>
        </div> 
    </div>
    <footer>
        <h2>copyright &copy; masam 2022 ||all right reserved </h2>
    </footer>
    <script src="../static/javascript/indscript.js"></script>
</body>
 
</html>